/* stylelint-disable no-descending-specificity */


/* Form
############################################################################ */

#send-topic-form{
    display: flex;
    flex-direction: column;
    margin-top: var(--size-m);
    gap: var(--size-l);
}